{%  ckan_extends %}

{% block maintag %}<div class="main user-read-tokens">{% endblock %}

{% block breadcrumb %}
    {% if self.breadcrumb_content() | trim %}
      <ol class="profile-page breadcrumb">
        {% snippet 'snippets/home_breadcrumb_item.html' %}
        {% block breadcrumb_content %}
          <li><a href="{{ h.url_for('user.index') }}">{{ _('Users') }}</a></li>
          <li><a href="{{ h.url_for('user.read', id=user_dict.name) }}">{{ user_dict.display_name }}</a></li>
          <li class="active"><a href="#">{{ _('Manage') }}</a></li>
        {% endblock %}
      </ol>
    {% endif %}
{% endblock %}

{% block content_primary_nav %}
    {{ h.build_nav_icon('user.edit', _('Profile'), id=user.name, icon='user') }}
    {{ h.build_nav_icon('user.api_tokens', _('API Tokens'), id=user.name, icon='key') }}
{% endblock %}


{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('Account Info') }}</h2>
    <div class="module-content">
      {% trans %}
        Your profile lets other CKAN users know about who you are and what you
        do.
      {% endtrans %}
    </div>
  </section>
{% endblock %}

{% block content_action %}
{% endblock %}