{%  ckan_extends %}


{% block maintag %}<div class="main user-update">{% endblock %}

{% block promoted_toolbar %}

<div class="any-other promoted-background promoted-breadcrumbs dynamic-wave-background">

    <div class="container">
        <div class="toolbar" role="navigation" aria-label="{{ _('Breadcrumb') }}">
            <div class="container">
                <div class="promoted">
                    <div class="promoted-container container">
                        <div class="package-subtitle-and-action">
                            <div class="mini-breadcrumb">
                                        {% block breadcrumb %}
                                            {% if self.breadcrumb_content() | trim %}
                                              <ol class="profile-page breadcrumb">
                                                {% snippet 'snippets/home_breadcrumb_item.html' %}
                                                {% block breadcrumb_content %}
                                                      {{ h.build_nav('user.index', _('Users')) }}
                                                      {{ h.build_nav('user.read', user.display_name|truncate(35), id=user.name) }}
                                                {% endblock %}
                                              </ol>
                                            {% endif %}
                                        {% endblock %}
                            </div>
                                    {% if self.content_action() | trim %}
                                      <div class="content_action">
                                        {% block content_action %}
                                        {% endblock %}
                                      </div>
                                    {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_header %}
{% endblock %}