/* change to another scss file for project */
@use 'zarr' as _c;

/* global */
$theme: _c.$theme;

/* palette */
$primary: _c.$primary;
$secondary: _c.$secondary;
$background: _c.$background;
$tag: _c.$tag;
$tag-dark: _c.$tag-dark;
$tag-light: _c.$tag-light;
$tag-background: _c.$tag-background;
$dark: _c.$dark;
$light: _c.$light;
$primary65: _c.$primary65;
$primary25: _c.$primary25;
$primary10: _c.$primary10;
$neutral-light-grey: _c.$neutral-light-grey;
$A11y: _c.$A11y;

/* title */
$default-font-weight: _c.$default-font-weight;
$default-font-size: _c.$default-font-size;
$default-line-height: _c.$default-line-height;
$default-font-family: _c.$default-font-family;
$default-font-color: _c.$default-font-color;

/* hide logo left border */
$hide-logo-left-v-bar: _c.$hide-logo-left-v-bar;

/* promoted */
$background-color: _c.$primary;

/* insights */
$show-insights-title: _c.$show-insights-title;
$upper-container-visible: _c.$upper-container-visible;
$lower-container-visible: _c.$lower-container-visible;
$after-insights-min-height: _c.$after-insights-min-height;

/* show masthead */
$masthead-visible: _c.$masthead-visible;
$show-development-banner: _c.$show-development-banner;
$show-languages: _c.$show-languages;

/* recently updated */
$show-recently-updated-title: _c.$show-recently-updated-title;

/* footer */
$footer-search-section-padding-top: _c.$footer-search-section-padding-top;
$footer-search-section-padding-bottom: _c.$footer-search-section-padding-bottom;

/* badge */
$badge-font-size: _c.$badge-font-size;

/* userprofile */
$breadcrumbs-color: $light;