/* change to another scss file for project */
@use 'fjelltopp' as _c;


/* global */
$theme: var(--theme);

/* palette */
$primary: var(--primary);
$secondary: var(--secondary);
$background: var(--background);
$tag: var(--tag);
$tag-dark: var(--tag-dark);
$tag-light: var(--tag-light);
$tag-background: var(--tag-background);
$dark: var(--dark);
$light: var(--light);
$primary65: var(--primary65);
$primary25: var(--primary25);
$primary10: var(--primary10);
$neutral-light-grey: var(--neutral-light-grey);
$A11y: var(--A11y);
$highlight-box-bgcolor: #00382c;

/* title */
$default-font-weight: var(--default-font-weight);
$default-font-size: var(--default-font-size);
$default-line-height: var(--default-line-height);
$default-font-family: var(--default-font-family);
$default-font-color: var(--default-font-color);

/* promoted */
$background-color: var(--primary);

/* insights */
$after-insights-min-height: var(--after-insights-min-height);

/* show masthead */
$show-languages: _c.$show-languages;

/* recently updated */
$show-recently-updated-title: _c.$show-recently-updated-title;

/* footer */
$footer-search-section-padding-top: _c.$footer-search-section-padding-top;
$footer-search-section-padding-bottom: _c.$footer-search-section-padding-bottom;

/* badge */
$badge-font-size: _c.$badge-font-size;

/* userprofile */
$breadcrumbs-color: $light;