/* global */
$theme: 'fjelltopp';

/* palette */
$primary: #002920;
$secondary: #02A67F;
$background: #F2F2FC;
$tag: #7D3667;
$tag-dark: #7D3667;
$tag-light: #C770A4;
$tag-background: #C770A4;
$dark: #000000;
$light: #FFFFFF;
$primary65: #36E07E;
$primary25: #C4F2DA;
$primary10: #F2F2FC;
$neutral-light-grey: #F2F2FC;
$A11y: #2A2F38;

/* title */
$default-font-weight: 700;
$default-font-size: 18px;
$default-line-height: 20px;
$default-font-family: 'Inter';
$default-font-color: #13240F;

/* hide logo left border */
$hide-logo-left-v-bar: true;

/* promoted */
$background-color: $primary;

/* insights */
$show-insights-title: false;
$upper-container-visible: false;
$lower-container-visible: true;
$after-insights-min-height: 400px;

/* show masthead */
$masthead-visible: true;
$show-development-banner: true;
$show-languages: false;

/* recently updated */
$show-recently-updated-title: false;

/* footer */
$footer-search-section-padding-top: 64px;
$footer-search-section-padding-bottom: 0px;

/* badge */
$badge-font-size: 0.7em;


/* for demo purpose only */

.promoted-home {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.promoted-home .promoted-container {
    position: relative;
    min-height: 500px;
    z-index: 1;
}

#background-video {
    position: absolute;
    right: 0;
    bottom: -200px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
}

$background-images : (
    url("/images/fjelltopp-bgs/aditya-chinchure-mpzFnoQCwWU-unsplash.jpg"),
    url("/images/fjelltopp-bgs/geran-de-klerk-qzgN45hseN0-unsplash.jpg"),
    url("/images/fjelltopp-bgs/ivan-bandura-V5-Pmz1vzRg-unsplash.jpg"),
    url("/images/fjelltopp-bgs/marita-kavelashvili-ugnrXk1129g-unsplash.jpg"),
    url("/images/fjelltopp-bgs/pine-watt-2Hzmz15wGik-unsplash.jpg"),
    url("/images/fjelltopp-bgs/silas-baisch-Wn4ulyzVoD4-unsplash.jpg"),
);


.big-footer {
    background-image: nth($background-images, 5) !important;
    background-size: cover !important;
}

.connected {
    background-image: nth($background-images, 6) !important;
}

.subscribe, .site-footer {
    background: none !important;
}

.promoted-background {
    background-image: nth($background-images, 1);
    background-size: cover;
}

.hero .promoted-background {
    background-color: $primary !important;
    background-image: none !important;
}
