@use 'config' as config;

$colors: (
    primary: config.$primary,
    secondary: config.$secondary,
    background: config.$background,
    tag: config.$tag,
    tag-background: config.$tag-background,
    dark: config.$dark,
    light: config.$light,
    primary65: config.$primary65,
    primary25: config.$primary25,
    primary10: config.$primary10,
    neutral-light-grey: config.$neutral-light-grey,
);

$breakpoints: (
  wide: (min: 1601px, max: 2400px),
  lg: (min: 992px, max: 1600px),
  md: (min: 768px, max: 991px),
  sm: (min: 576px, max: 767px),
  xs: (min: 300px, max: 575px),
  recenly_updated_sm: (min: 416px, max: 559px),
  recenly_updated_xs: (min: 300px, max: 415px),
);

@function get-color($color) {
  @return map-get($colors, $color);
}

@mixin apply-color($color, $font-color: null) {
  background-color: get-color($color);
  @if $font-color {
    color: get-color($font-color);
  } @else {
    color: #FFF;
  }
}

@mixin apply-font-style(
  $font-weight: config.$default-font-weight,
  $font-size: config.$default-font-size,
  $line-height: config.$default-line-height,
  $font-color: config.$default-font-color,
  $letter-spacing: inherit,
  $text-align: inherit
) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color;
  letter-spacing: $letter-spacing;
  text-align: $text-align;
}