@use 'vars' as vars;

$theme: (
  default: (
    primary: $primary,
    secondary: $secondary,
    background: $background,
    tag: $tag,
    tag-background: $tag-background,
    dark: $dark,
    light: $light
  )
);


$breakpoints: (
  desktop: (992px, 1600px),
  tablet: (768px, 991px),
  mobile: (320px, 767px)
);

@function get-color($color) {
  $theme-map: map-get($themes, vars.$theme);

  @if $theme-map {
    @return map-get($theme-map, $color);
  } @else {
    @return map-get(map-get(vars.$themes, 'default'), $color);
  }
}

@mixin apply-color($color, $font-color: null) {
  background-color: get-color($color);
  @if $font-color {
    color: get-color($font-color);
  } @else {
    color: #FFF;
  }
}

@mixin apply-font-style($font-weight: vars.$default-font-weight,
$font-size: vars.$default-font-size,
$line-height: vars.$default-line-height,
$font-color: vars.$default-font-color) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color;
}
