@use 'themes'as *;
@use 'config'as config;


/* Authentication & user UI */
.logout-page,
.logout-page .wrapper,
.logout-page .primary {
    all: unset;
    display: contents;
}

.logout-page #content {
    padding-left: 12px;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 64px;
    margin-bottom: 64px;
}

.logout-page .module .module-content {
    padding: 0;
}

.logout-page .module-content p {
    display: none;
}

.logout-page .container .wrapper::before {
    content: none;
}

.logout-options h1 {
    @include apply-font-style(400, 36px, 48px, config.$primary, -0.02em, left);
    margin-bottom: 24px;
}

.logout-options a.btn-primary,
.logout-options a.btn-outline-dark {
    padding: 12px 16px;

}

.logout-options a.btn-outline-dark,
.logout-options a.btn-outline-dark:hover {
    margin-left: 16px;
    border-color: get-color('primary');
    color: get-color('primary');
    background-color: get-color('light');
}

@media only screen and (max-width: 327px) {
    .logout-options a.btn-primary,
    .logout-options a.btn-outline-dark {
        width: 100%;
        margin-left: 0;
        margin-top: 12px;

    }
}

@media only screen and (max-width: 767px) {
    .logout-page #content {
        padding-left: 30px;
    }
    .logout-options a.btn-primary,
    .logout-options a.btn-outline-dark {
        margin-left: 12px;
    }
}

.masthead {
    border-bottom: get-color('primary65') thin solid;
}

/* breadcrumbs */

@media only screen and (min-width: 282px) {
    /* Breadcrumb update */
    .promoted-breadcrumbs .toolbar .profile-page.breadcrumb {
        position: absolute;
        bottom: 85px;
    }

    .toolbar .profile-page.breadcrumb li:last-child::before {
        content: var(--bs-breadcrumb-divider, "/") "\A";
        white-space: pre;
        display: inline-block;
        min-width: 200px;
    }

    .toolbar .profile-page.breadcrumb li:last-child a {
        display: block;
        position: absolute;
        left: 7px;
        top: 40px;
        @include apply-font-style(400, 36px, 48px, config.$light, -0.02em, left);
    }
}

.profile-page.breadcrumb li:not(:last-child) a {
    @include apply-font-style(400, 16px, 24px, config.$breadcrumbs-color);
    text-decoration: underline;
}

.admin_page {
    padding-top: 49px;
}


.dashboard-add-team-btn, .dashboard-add-dataset-btn {
    float: right !important;
}

@media only screen and (max-width: 583px) {
.dashboard-add-team-btn, .dashboard-add-dataset-btn {
    margin-bottom: 32px;
    margin-top: 16px;
    width: 100%;
    }
}

/* team list  in ckan/organization */
.media-grid, .module-grid {
    width: 100%;
    display: grid !important;
    row-gap: 24px;
    column-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 0;
    margin: 0;
    border: none;
    list-style-type: none;
    background: none;
    height: calc(100% + 250px) !important;
}

.media-grid .media-image {
    width: auto;
    aspect-ratio: 9 / 4;
    height: auto;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.media-item {
    position: initial !important;
    float: none;
    background-color: get-color('light');
    margin: 0;
    width: 100%;
    padding: 12px;
    border: get-color('primary65') thin solid;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.media-item:hover {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

.media-item a,
.media-item a:active, .media-item a:hover {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    }

.media-item h2 {
    @include apply-font-style(700, 16px, 24px);
}

.media-item .media-description {
    @include apply-font-style(400, 14px, 20px);
    margin-bottom: 8px;
}

.media-grid .media-item {
    margin: auto 0 0;
    padding-top: 10px;
}

.media-grid .package-count {
    border-radius: 4px;
    background-color: get-color('primary10');
    padding: 2px 6px 2px 6px;
    @include apply-font-style(400, 12px, 16px, config.$secondary, 0.1em);
    text-transform: uppercase;
    margin-right: 4px;

}

.media-grid .org-owner {
    border-radius: 4px;
    background-color: config.$neutral-light-grey;
    padding: 2px 6px 2px 6px;
    @include apply-font-style(400, 12px, 16px, 0.1em);
    text-transform: uppercase;
}

/** tab active **/
.user-dashboard-main .page-header .nav-tabs li:last-child.active a {
    background-color: get-color('primary10');
    border: 1px solid transparent;
    border-bottom-color: get-color('primary65');
}

.user-dashboard-activity .page-header .nav-tabs li:first-child.active a {
    background-color: get-color('primary10');
    border: 1px solid transparent;
    border-bottom-color: get-color('primary65');
}

/* user profile styles */
.user-profile-page .module-content {
    padding: 38px 32px;
}

.user-profile-page .page-heading {
      margin-top: 32px;
      margin-bottom: 32px !important;
      color: get-color('primary');
}

/** activity section heading **/
.user-profile-page .page-heading small.text-muted.fs-5 {
    @include apply-font-style(400, 28px, 36px, config.$primary, 0.01em, left);
    color: get-color('primary') !important;
    font-size: 28px !important;
}

.user-profile-page #followee-popover {
    @include apply-font-style(inherit, 16px, 24px, config.$primary, 0.01em, center);
    padding: 12px 16px;
    border-radius: 4px;
    border: get-color('primary') thin solid;
    color: get-color('primary');
    background: get-color('light');
}

.user-profile-page #followee-popover span:first-child {
    font-weight: 700;
}

.user-profile-page #followee-popover strong {
    font-weight: 400;
}

/* top content */
.user-profile-page .upper-content {
    margin-top: 64px;
    margin-bottom: 48px;
    padding: 32px;
    background-color: get-color('primary10');
    border-radius: 4px 0 0 0;
}

.user-profile-page .no-padding {
    padding: 0;
}

.user-profile-page .user-basic-info {
    padding: 0;
    width: 100%;
}

.user-profile-page .profile-left-info {
    list-style-type: none;
    padding: 0;
    display: flex;
    width: 100%;
}

.user-profile-page .profile-info {
    padding-left: 20px;
}

.user-profile-page .profile-info p:first-child {
    @include apply-font-style(400, 28px, 36px, config.$primary, 0.01em, left);
}

.user-profile-page .profile-pic img {
  width: 64px;
  height: 64px;
  border-radius: 2px;
  border: get-color('light') 2px solid;
}

.user-profile-page .profile-info {
  height: 64px;
}

.user-profile-page .profile-info div p,
.user-profile-page .profile-info div ul {
  margin: 4px;
}

.user-profile-page .right-content {
    padding-right: 12px;
    padding-left: 0;
}

.user-profile-page .upper-content ul {
    list-style-type: none;
}

@media only screen and (max-width: 767px) {
    .user-profile-page .right-content .logout-btn {
        max-width: 40%;
    }
    .user-profile-page .right-content {
       margin-top: 48px;
    }
    .user-profile-page .right-content ul {
        padding-left: 87px;
    }
    .user-profile-page .profile-left-info-details {
      justify-content: flex-start;
    }
    .user-profile-page .left-content {
        padding-left: 0;
    }

    .user-profile-page .profile-left-info-details {
      justify-content: flex-end;
    }
    .user-profile-page .profile-left-info {
      list-style-type: none;
    }
    .user-dashboard-main h2.page-heading.mb-4,
    .dashboard-organisation-main h2.page-heading.mb-4{
        text-align: left;
    }
}

@media only screen and (min-width: 992px) {
    .user-profile-page .profile-left-info-details {
      justify-content: flex-end;
    }
    .user-profile-page .profile-left-info-details li:not(:first-child)::before {
      content: '|';
      color: get-color('primary65');
      margin-left: 16px;
      margin-right: 16px;
    }
    .user-profile-page .upper-content ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      @include apply-font-style(400, 16px, 24px, config.$primary);
      margin-bottom: 0;
    }

    .user-profile-page .right-content ul {
        justify-content: flex-end;
    }
}

.user-profile-page .right-content .sysadmin-item a {
    padding-right: 0;
    text-decoration: underline;
}

.user-profile-page .right-content ul li:nth-child(1) {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 19px;
}
.user-profile-page .right-content ul li a {
  font-weight: 700;
}
.user-profile-page .right-content ul li:nth-child(2) {
  border: get-color('primary') thin solid;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}

.user-profile-page .right-content .logout-btn {
  text-decoration: none;
  cursor: pointer;
}

.user-profile-page .right-content .logout-btn:hover {
    text-decoration: none;
    background: get-color('primary65');
}

.user-profile-page .right-content .logout-btn a {
    text-decoration: none;
}

.user-profile-page .profile-left-info-details li a {
    text-decoration: underline;
}

/* tabs */
.user-profile-page .secondary {
    content: none;
    display: none;
}

.user-profile-page .wrapper .primary {
    width: 100%;
    border: 0;
}

.user-profile-page .wrapper:before {
    border-right: 0;
}

.user-profile-page .wrapper {
    box-shadow: none;
    border: 0;
}

.user-profile-page .page-header {
    background-color: get-color('light');
}

.user-profile-page div.module-content {
    border: get-color('primary65') thin solid;
    border-top: none;
}

.user-profile-page header,
.user-profile-page header ul.nav.nav-tabs {
    width: calc(100% + 1px);
}

.user-profile-page header ul.nav.nav-tabs li:first-child {
    width: 25%;
}

.user-profile-page header ul.nav.nav-tabs li:not(:first-child) {
    width: 24.3%;
    margin-left: 0.7%;
}

.user-profile-page header ul.nav.nav-tabs li:last-child {
    width: 24.3%;
    margin-left: 0.7%;
}

.user-profile-page .page-header .nav-tabs li.active a {
    border: get-color('primary65') thin solid;
    background-color: get-color('light');
    border-bottom-color: transparent;
}

.user-profile-page .nav-tabs .nav-link, .user-profile-page .page-header .nav-tabs li a,
.user-profile-page .nav-tabs .nav-link, .user-profile-page .page-header .nav-tabs li a:hover {
    background-color: get-color('primary10');
}

.user-profile-page .nav-tabs,
.user-profile-page .nav-tabs .nav-link,
.user-profile-page .page-header .nav-tabs li a {
    border-bottom-color: get-color('primary65');
}

.user-profile-page .nav.nav-tabs li a {
    color: get-color('primary');
    @include apply-font-style(700, 16px, 20px, inherit, inherit, center);
}

@media only screen and (max-width: 510px) {
    .user-profile-page header ul.nav.nav-tabs li {
        width: 100% !important;
    }
    .user-profile-page header ul.nav.nav-tabs li:first-child {
        margin-left: 4px;
    }
    .user-profile-page .nav.nav-tabs li a {
        text-align: left;
    }
    .user-profile-page .dashboard-add-team-btn {
        width: 100% !important;
        margin-top: 16px;
        margin-bottom: 16px;
    }

}

@media only screen and (max-width: 545px) {
    .user-dashboard-main .pull-right {
        float: none;
        width: 100%;
    }
    .user-dashboard-main #followee-popover {
        width: 100%;
    }
    .user-dashboard-main small.text-muted.fs-5 {
        text-align: center;
    }
}

.user-profile-page .page-header.module-content {
    padding: 0;
    width: 100%;
}

.dashboard-organisation-main article.module,
.user-dashboard-main article.module {
    padding: 0;
    margin-bottom: 115px;
}

.user-profile-page .media-grid .media-heading {
    margin: 8px 0 0;
}

.dashboard-organisation-main .media-grid {
    margin-bottom: 32px;
}


.user-profile-page .show-all-org,
.user-profile-page .show-all-org:hover,
.user-profile-page .show-all-pkg,
.user-profile-page .show-all-pkg:hover {
    @include apply-font-style(700, 16px, 24px);
    text-decoration: underline;
}

@media only screen and (max-width: 462px) {
  .user-profile-page #activity_page_buttons,
  #activity_page_buttons a.btn {
    margin-top: 16px;
    width: 100%;
    }
}

/* header navbar */
@media only screen and (min-width: 992px) {
    .masthead .main-navbar ul li.active a {
        color: get-color('primary') !important;
    }

    .masthead .main-navbar ul li.active.my_account {
        pointer-events: auto;
    }

    .masthead .main-navbar ul li.active a {
        padding-bottom: 37px !important;
        border-bottom: get-color('secondary') 4px solid;
        border-radius: 0;
        z-index: 0;
    }

}

ol.profile-page.breadcrumb {
    width: 100%;
}
/* User profile*/