/* global */
$theme: 'zarr';

/* palette */
$primary: #13240F;
$secondary: #198A00;
$background: #DFF0DB;
$tag: #EF7D00;
$tag-dark: none;
$tag-light: none;
$tag-background: #FCF0E3;
$dark: #13240F;
$light: #FFF;
$primary65: #9ad98c;
$primary25: none;
$primary10: #EBF1EA;
$neutral-light-grey: none;

/* title */
$default-font-weight: 700;
$default-font-size: 18px;
$default-line-height: 20px;
$default-font-family: 'Arial, sans-serif';
$default-font-color: #13240F;

/* hide logo left border */
$hide-logo-left-v-bar: true;