{% ckan_extends %}

{%- set dataset_url = h.url_for('{}.read'.format(package.type), id=package.name) -%}

{% block heading %}
    <h2 class="dataset-heading">
        <a href="{{ dataset_url }}" title="{{ title }}">
            {{title|truncate(80)}}
        </a>
        <span class="badge {{ package.type }}">{{ _(package.type) }}</span>
    </h2>
    <div class="modified">
        {{_('Modified')}} {{ h.time_ago_from_timestamp(package.metadata_modified) }}, {{ h.get_last_modifier(package.id) }}
    </div>
{% endblock %}
