{% if not g.userobj %}
<div class="subscribe">
    <div class="container">
        <div class="highlight-box">
            {% block contents %}
            <h2>{{ _('Subscribe to updates') }}</h2>
            <div class="subtext">{% block subtext %}{{ _('Create an account to receive notifications by email whenever new documents are posted.') }}{% endblock %}</div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a class="register" href="{{ h.url_for("/user/register") }}">{{ _('Create an account') }}</a>
                    <span class="login">or <a href="{{ h.url_for("/user/login") }}">{{ _('log in') }}</a></span>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endif %}