{% ckan_extends %}

{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
{% set placeholder = _('E.g. environment') %}
{% set stats = h.get_site_statistics() %}

{% block subtitle %}{{ _(dataset_type.title()) }}{% endblock %}

{% block maintag %}<div class="main search">{% endblock %}

{% block promoted_toolbar %}
{% endblock %}


{% block page_primary_action %}
{% if h.check_access('package_create') %}
  <div class="page_primary_action">
    {{ h.snippet ('snippets/add_dataset.html', dataset_type=dataset_type) }}
  </div>
{% endif %}
{% endblock %}

{% block pre_primary %}
  <div class="big-search-form">
    {% set placeholder = placeholder if placeholder else _('Search datasets...') %}
    {% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
    {% set form_id = form_id if form_id else false %}

    <h2> {{ _('Search data') }}</h2>

    <form {% if form_id %}id="{{ form_id }}" {% endif %}class="search-form{% if no_bottom_border %} no-bottom-border{% endif %}"  method="get" action="{% url_for 'dataset.search' %}">
        <div class="input-group">
          <input aria-label="{% block header_site_search_label %}{{ placeholder }}{% endblock %}" id="field-giant-search" type="text" class="form-control input-lg" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">

          <span class="input-group-btn">
            <button class="btn btn-default btn-lg lens-btn" type="submit" value="search" aria-label="{{_('Submit')}}">
                <i class="fa fa-search"></i><span class="search-label">{{ _('Search') }}</span>
            </button>
          </span>
        </div>
    </form>
  </div>
{% endblock %}


{%- block content %}
    <div role="main">
        <div class="promoted-background gradient-background">
            {% snippet "snippets/ui/linear_gradient.html" %}
            <div class="container">
                <div class="promoted">
                    <div class="promoted-container container">
                        <p class="subtitle">Home / </p>
                        <h1 class="headline">Datasets</h1>
                    </div>
                </div>
            </div>

        </div>

    {{super() }}
</div>
{%  endblock %}


{% block secondary_content %}
  <div class="filters">
    <div>
      {% for facet in facet_titles %}
        {% set scheming_choices=h.scheming_field_by_name(h.scheming_get_dataset_schema(dataset_type).dataset_fields, facet).choices %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets, scheming_choices=scheming_choices) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}