{% ckan_extends %}

{% set copyrights_owner = 'Fjelltopp 2024' %}
{% set devs = '<a class="hide-text" target="_blank" href="https://fjelltopp.org">Fjelltopp</a>' %}

{% block footer_content %}
<div class="row footer-search-section">
  <div class="col-xs-12 col-sm-9 col-lg-6">
    <h2>{{ _('Search all datasets') }}</h2>
    {% snippet 'snippets/search_input.html', placeholder='Search' %}
  </div>
</div>

  <div class="col-xs-6 col-sm-3 col-lg-2 footer-links">
  {% block footer_logo_section %}
    <a href="https://fjelltopp.org" target="_blank"><img class="footer-logo" src="/images/{% block footer_logo %}logo-white.png{% endblock %}" alt=""/></a>
  {% endblock %}
  </div>


<div class="row">
  <div class="col-xs-12 col-sm-9 col-lg-12 footer-links">
    {% block footer_nav %}
        <div class="desc-large">
              <ul class="list-unstyled">
                {% block footer_links %}
                    <li><a class="footer-link" href="{{ h.url_for('/organization') }}">{{ _('Organizations') }}</a></li>
                    <li>
                        {% if not c.userobj %}
                            <a class="footer-link" href="{{ h.url_for('/user/login') }}">{{ _('Account login') }}</a>
                        {% else %}
                            <a class="footer-link" href="{{ h.url_for('dashboard.index') }}">{{ _('My account') }}</a>
                        {% endif %}
                  </li>
                    <li><a class="footer-link" href="{{ h.url_for('/terms/') }}" target="_blank">{{ _('Terms and conditions') }}</a><br />
                    <li><a class="footer-link" href="http://docs.ckan.org/en/2.10/api/" target="_blank">{{ _('API Docs') }}</a></li>
                    <li>
                      <span class="desc desc-wide">{% trans %}© {{ copyrights_owner }}. An open source <a class="hide-text" target="_blank" href="https://ckan.org/">
                CKAN</a> project, built by {% endtrans %} {{ devs | safe }}</span>
                    </li>
                {% endblock %}
              </ul>
            {% block footer_description_tablet %}
                  <span class="desc desc-tablet">{% trans %}© {{ copyrights_owner }}. An open source <a class="hide-text" target="_blank" href="https://ckan.org/">
            CKAN</a> project, built by{% endtrans %} {{ devs | safe }}</span>
            {% endblock %}
        </div>


        <div class="desc-mobile">
            {% block footer_mobile_links %}
            <p><a class="footer-link" href="{{ h.url_for('/organization') }}">{{ _('Organizations') }}</a></p>
            <p>
                {% if not c.userobj %}
                    <a class="footer-link" href="{{ h.url_for('/user/login') }}">{{ _('Account login') }}</a>
                {% else %}
                    <a class="footer-link" href="{{ h.url_for('dashboard.index') }}">{{ _('My account') }}</a>
                {% endif %}
            </p>
            <p><a class="footer-link" href="{{ h.url_for('/terms/') }}" target="_blank">{{ _('Terms and conditions') }}</a><br />
            <p><a class="footer-link" href="http://docs.ckan.org/en/2.10/api/" target="_blank">{{ _('API Docs') }}</a></p>
          <p class="desc desc-mobile">{% trans %}© {{ copyrights_owner }}. An open source <a class="hide-text" target="_blank" href="https://ckan.org/">
            CKAN</a> project, built by{% endtrans %} {{ devs | safe }}</p>
            {% endblock %}
        </div>



    {% endblock %}
  </div>

{% endblock %}

{% block footer_attribution %}

{% endblock %}

{% block footer_lang %}
{% endblock %}
</div>