{% block about_content %}
    {% trans %}
        <h1>Who are we</h1>
        <blockquote>“Noun fjelltopp (pronounced fee-yell-top) A mountaintop or peak”</blockquote>
        <p>We’re called Fjelltopp because we love to climb mountains. Getting to the peak of the mountain, the “fjelltopp”, is hard work. It requires navigation, problem solving, determination, mental and physical stamina. It’s easier to navigate around the mountain, but we want to reach the top, to get the best view, to reveal new challenges and to understand the landscape around us.</p>
        <p>We’re all personally connected to the sense of striving for higher ground, for deeper insight, for purpose. We put this energy into every area of our work, using specialist experience to integrate, manage and comprehend the most challenging aspects of public health data, helping to make the world a better place.</p>
        <p>Since 2015 we’ve worked with UN field experts including WHO, UNICEF, UNAIDS, FAO, Ministries of Health, and other local partners across the globe. As an advocate of The Principles for Digital Development, we seek to provide solutions that are sustainable, open-source, interoperable, and user-orientated. A company committed to ethical business and social mission before profit; we are registered as a Social Enterprise in the United Kingdom.</p>
    {% endtrans %}
{% endblock %}
