@use '_partials/themes'as *;
@use '_partials/vars'as config;

/* top first bar */
.account-masthead {
  @include apply-color('primary');
}
/* header */
.masthead {
    @include apply-color('light', 'dark');
    .site-search input {
        width: 180px;
        height: 40px;
        padding: 10px 14px;
    }
    .site-search .btn-search .fa-search {
        color: get-color('secondary');
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 2px;
    }
    .navbar {
        margin-bottom: 0 ;
        min-height: 80px;
    }
    .main-navbar .navbar-nav > li > a
    {
        font-style: normal;
        @include apply-font-style(700, 14px, 30px);
        flex: none;
        order: 1;
        flex-grow: 0;
        background-color: transparent;
        padding: 5px 0;
        margin-left: 30px;
    }
    .main-navbar .navbar-nav li a:hover,
    .main-navbar .navbar-nav li a:focus,
    .main-navbar .navbar-nav li.active a,
    .main-navbar ul li:hover a,
    .main-navbar ul li:focus a,
    .main-navbar ul li.active a
    {
        color: get-color('secondary');
        background-color: transparent;

    }
}

#NavbarBrandingContainer {
    position: absolute;
    top: 8px;
    left: 0;
    a {
        color: get-color(config.$primary);
        #NavbarHeadingContainer {
            @include apply-font-style(700, 20px, 14px);
            margin: 10px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

/* logo */
#NavbarLogo {
    display: inline-block;
    height: 64px;
    @if config.$hide-logo-left-v-bar == true {
        padding-right: 10px;
    } @else {
        padding-right: 19px;
    }
    background-size: cover;
    background-position: center;
}

/* logo title */
#NavbarHeadingContainer .title {
    @include apply-font-style(700, 18px, 20px);
}

/* hide logo left bar */
.masthead #NavbarBrandingContainer a #LogoBorder {
  @if config.$hide-logo-left-v-bar == true {
    display: none;
  } @else {
      display: inline-block;
  }
}

#NavbarBrandingContainer a:hover {
    text-decoration: none; /* removes the line middle logo upon hover */
}

/* small fix */
.navbar-nav {
    margin: 0;
}

@media only screen and (min-width: 992px) {
    .mobile-menu {
        display: none;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}
