@use '_partials/themes'as *;
@use '_partials/vars'as config;

/* top first bar */
.account-masthead {
  @include apply-color('primary');
}
/* header */
.masthead {
    @include apply-color('light', 'dark');
    .site-search input {
        width: 180px;
        height: 40px;
        padding: 10px 14px;
    }
    .site-search .btn-search .fa-search {
        color: get-color('secondary');
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 2px;
    }
    .navbar {
        margin-bottom: 0 ;
        min-height: 80px;
    }
    .main-navbar .navbar-nav > li > a
    {
        font-style: normal;
        @include apply-font-style(700, 14px, 30px);
        flex: none;
        order: 1;
        flex-grow: 0;
        background-color: transparent;
        padding: 5px 0;
        margin-left: 30px;
    }
    .main-navbar .navbar-nav li a:hover,
    .main-navbar .navbar-nav li a:focus,
    .main-navbar .navbar-nav li.active a,
    .main-navbar ul li:hover a,
    .main-navbar ul li:focus a,
    .main-navbar ul li.active a
    {
        color: get-color('secondary');
        background-color: transparent;

    }
}

#NavbarBrandingContainer {
    position: absolute;
    top: 8px;
    left: 0;
    a {
        color: get-color(config.$primary);
        #NavbarHeadingContainer {
            @include apply-font-style(700, 20px, 14px);
            margin: 10px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

/* logo */
#NavbarLogo {
    display: inline-block;
    height: 64px;
    @if config.$hide-logo-left-v-bar == true {
        padding-right: 10px;
    } @else {
        padding-right: 19px;
    }
    background-size: cover;
    background-position: center;
}

/* logo title */
#NavbarHeadingContainer .title {
    @include apply-font-style(700, 18px, 20px);
}

/* hide logo left bar */
.masthead #NavbarBrandingContainer a #LogoBorder {
  @if config.$hide-logo-left-v-bar == true {
    display: none;
  } @else {
      display: inline-block;
  }
}

#NavbarBrandingContainer a:hover {
    text-decoration: none; /* removes the line middle logo upon hover */
}

/* small fix */
.navbar-nav {
    margin: 0;
}

@media only screen and (min-width: 992px) {
    .mobile-menu {
        display: none;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

/* promoted */
.promoted-background {
    width: 100%;
    background-color: config.$background-color;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.promoted, .promoted-home {
    font-style: normal;
    font-size:  18px;
}

.promoted-home .promoted-container {
    margin: 64px 0;
}

.promoted .subtitle {
    @include apply-font-style(700, 16px, 24px, config.$light);
    color: var(--who-blue-ten-percent);
    margin-bottom:  15px;
    letter-spacing: 0;
}

h1.headline,
.promoted-left .headline {
    @include apply-font-style(400, 48px, 56px, config.$light, -0.03em, left);
}

p.learn-more a {
    text-decoration: underline;
    @include apply-font-style(700, 16px, inherit, config.$light);
}

.promoted .search-section {
    margin-top: 28px;
}

.promoted-container {
    h2 {
        @include apply-font-style(700, 18px, 24px, config.$light);
        margin-bottom: 4px;
    }

}

/*
.promoted h1{
    font-weight: 700;
    margin-bottom: 15px;
}

.promoted h2 {
    font-weight: 700;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.promoted .big-search-form {
    margin: 0;
}

.promoted .search-form {
    border-bottom: none;
    width: 100%;
    margin-bottom: 0;
}

.promoted .big-search-form .lens-btn,
.insights .insight-row .search-section .big-search-form .lens-btn {
    height:  50px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 0 4px 4px 0;
}

.promoted .big-search-form .lens-btn:hover,
.insights .insight-row .search-section .big-search-form .lens-btn:hover {
    border-color: var(--primary-navy) thin 1px !important;
    color: var(--primary-navy) !important;
}

.promoted .big-search-form .lens-btn span.search-label,
.insights .insight-row .search-section .big-search-form .lens-btn span.search-label{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.promoted .big-search-form .fa-search,
.insights .insight-row .search-section .big-search-form .fa-search {
    font-size:  20px;
    margin-right: 2px;
}

.insights .insight-row .search-section .big-search-form input{
    height:  50px;
    border-color: #FFF;
}


.promoted .big-search-form input, .form-control {
    border: var(--who-blue-25-percent) solid 1px;
    border-radius: 4px;
    outline: none;
    height: auto;
}

*/