@use '_partials/themes'as *;
@use '_partials/vars'as config;
@use 'sass:math';

$square-insights-width: math.div(100%, 3);
$half-window-width: math.div(100%, 2);


/* global */
.fa-search {
    color: get-color('secondary');
}

.main {
    padding: 0 !important;
}

/* top first bar */
.account-masthead {
  @include apply-color('primary');
}

/* header */
.masthead {
    @include apply-color('light', 'dark');
    .site-search input {
        width: 180px;
        height: 40px;
        padding: 10px 14px;
    }
    .site-search .btn-search .fa-search {
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 2px;
    }
    .navbar {
        margin-bottom: 0 ;
        min-height: 80px;
    }
    .main-navbar .navbar-nav > li > a
    {
        font-style: normal;
        @include apply-font-style(700, 14px, 30px);
        flex: none;
        order: 1;
        flex-grow: 0;
        background-color: transparent;
        padding: 5px 0;
        margin-left: 30px;
    }
    .main-navbar .navbar-nav li a:hover,
    .main-navbar .navbar-nav li a:focus,
    .main-navbar .navbar-nav li.active a,
    .main-navbar ul li:hover a,
    .main-navbar ul li:focus a,
    .main-navbar ul li.active a
    {
        color: get-color('secondary');
        background-color: transparent;

    }
}

#NavbarBrandingContainer {
    position: absolute;
    top: 8px;
    left: 0;
    a {
        color: get-color(config.$primary);
        #NavbarHeadingContainer {
            @include apply-font-style(700, 20px, 14px);
            margin: 10px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

/* logo */
#NavbarLogo {
    display: inline-block;
    height: 64px;
    @if config.$hide-logo-left-v-bar == true {
        padding-right: 10px;
    } @else {
        padding-right: 19px;
    }
    background-size: cover;
    background-position: center;
}

/* logo title */
#NavbarHeadingContainer .title {
    @include apply-font-style(700, 18px, 20px);
}

/* hide logo left bar */
.masthead #NavbarBrandingContainer a #LogoBorder {
  @if config.$hide-logo-left-v-bar == true {
    display: none;
  } @else {
      display: inline-block;
  }
}

#NavbarBrandingContainer a:hover {
    text-decoration: none; /* removes the line middle logo upon hover */
}

/* small fix */
.navbar-nav {
    margin: 0;
}

@media only screen and (min-width: 992px) {
    .mobile-menu {
        display: none;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

/* promoted */
.promoted-background {
    width: 100%;
    background-color: config.$background-color;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.promoted, .promoted-home {
    font-style: normal;
    font-size:  18px;
}

.promoted-home .promoted-container {
    margin: 64px 0;
}

.promoted .subtitle {
    @include apply-font-style(700, 16px, 24px, config.$light);
    color: var(--who-blue-ten-percent);
    margin-bottom:  15px;
    letter-spacing: 0;
}

h1.headline,
.promoted-left .headline {
    @include apply-font-style(400, 48px, 56px, config.$light, -0.03em, left);
}

p.learn-more a {
    text-decoration: underline;
    @include apply-font-style(700, 16px, inherit, config.$light);
}

.promoted .search-section {
    margin-top: 28px;
}

.promoted-container {
    h2 {
        @include apply-font-style(700, 18px, 24px, config.$light);
        margin-bottom: 4px;
    }

}

.big-search-form {
    #field-giant-search {
        border: config.$A11y solid 1px;
        border-radius: 4px;
        outline: none;
        max-width: 498px;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: 0;
    }
    .search-form {
        border-bottom: 0;
    }

    .lens-btn {
        border: config.$A11y solid 1px;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left: 0;
        height: 48px;
    }

    .lens-btn .search-label{
        display: none;
    }
}

/* insights */
.show-insights-title {
    @if config.$show-insights-title == false {
        display: none;
    }
}

.insights-upper-item {
    @if config.$upper-container-visible == false {
        display: none;
    }
}

.insights-lower-item {
    @if config.$lower-container-visible == false {
        display: none;
    }
}


.insights {
    min-height: 600px;
    background: config.$primary10;
    padding-bottom: 120px;
    padding-top: 48px;
    padding-left: 0;
    padding-right: 0;

    .insight-row, .data-hub-stats .row {
        --bs-gutter-x: 0;
    }

        H2 {
            margin-bottom: 32px;
            margin-top: 0;
            @include apply-font-style(400, 36px, 48px);
            color: config.$primary;
        }
        H3 {
            margin-bottom: 12px;
            @include apply-font-style(400, 28px, 36px, config.$primary);
        }
        .insight-square {
            background-color: config.$light;
            padding: 16px;
            border-radius: 8px;
            min-height: 297px;
            margin-bottom: 48px;
        }
        .insight-square p, .insight-rect p span:first-child {
            @include apply-font-style(700, 18px, 24px, config.$primary);
        }
        .insight-rect p span:nth-child(2) {
            @include apply-font-style(700, 14px, inherit, config.$primary);
        }
        .insight-square p a span, .insight-rect p a span:last-child {
            float: right;
            color: get-color(config.$secondary);
        }

        .insight-img-container {
            padding: 18px;

            .insight-img-container img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }

        .insight-rect {
            background-color: white;
            padding: 16px;
            border-radius: 8px;
            height: 354px;

            .insight-rect img {
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
            }
        }
}

/* data hub stats */
$data-hub-stats-margin-left: 24px;
$data-hub-stats-margin-right: 24px;
$data-hub-stats-height: 374px;
.data-hub-stats {
    margin-top: 48px;
    height: 374px;

    .insight-small-rect {
        background-color: get-color('light');
        padding: 19px;
        border-radius: 8px;
        min-height: 101px;

        p:first-child {
            @include apply-font-style(700, 18px, 24px, config.$primary);
        }
    }

    .row {
        margin-bottom:  24px;
    }

    .number span {
        @include apply-font-style(400, 36px, inherit, config.$primary);
    }
}


.insight-square {
    margin-right: $data-hub-stats-margin-right;
    width: calc(#{$square-insights-width} - $data-hub-stats-margin-right);
}

.insight-square:last-child {
    margin-right: 0;
    width: #{$square-insights-width} ;
}

@media only screen and (min-width: map-get(map-get($breakpoints, lg), min)) {
    .data-hub-stats {
        margin-top: 0;
        margin-left: $data-hub-stats-margin-left;
        width: calc(#{$half-window-width} - #{$data-hub-stats-margin-left});
        height: $data-hub-stats-height;
    }
}

@media only screen and (max-width: map-get(map-get($breakpoints, sm), min)) {
    .insight-small-rect:last-child {
        margin-left: $data-hub-stats-margin-left;
        width: calc(#{$half-window-width} - #{$data-hub-stats-margin-left});
    }
}

@media only screen and (max-width: map-get(map-get($breakpoints, xs), max)) {
    .data-hub-stats H3 {
        margin-top: 0;
    }
    .data-hub-stats {
        margin-top: 32px;
    }
    .recently-updated .container {
        margin-top: 32px;
    }
    .insights {
        padding-bottom: 0;
        padding-top: 32px;
    }
    .insight-small-rect:last-child {
        margin-top: 24px;
    }
    .insights .container {
        min-height: 1750px;
    }
    .row.insight-row {
        display: block;
    }
    .insight-square, .insight-square:last-child {
        margin-right: 0;
        margin-bottom: 32px;
        width: 100%;
        height: 100%;
    }
    .after-insights { /* TODO fix padding for responsiveness */
        padding-top: 85%;
        background: get-color(config.$primary10);
        min-height: 418px;
    }
}

/* group box (group page?) template update might be needed as well TODO */
.group-box {
    background: get-color('light');
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    margin-bottom: 24px;
    padding:  20px;
    height:  110px;
}

.group-box .group-thumbnail {
    float:  left;
    display: inline-block;
    vertical-align: middle;
    max-height: 70px;
    margin-right: 20px;
}

.group-box .group-text {
    vertical-align: middle;
    width:  100%;
}
.group-box .group-text .title{
    @include apply-font-style(700, 16px, 24px, config.$secondary);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #008dc9;
}

.group-box .group-text .desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    overflow:  hidden;
    height:  50px;
}

.group-box .btn-delete {
    background: transparent;
    color: #008dc9;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}



/* recently updated */

a.tag,
a.tag:hover  {
    padding: 2px 6px;
    background: #fff1e9;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border:  none;
    color: #056839;
    box-shadow:  none;
}

.tag-list{
    background:  transparent;
    border:  none;
}

.recently-updated H2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: var(--primary-navy);
    letter-spacing: -0.01em;
    margin-bottom: 48px;
    margin-left: 0;
    margin-top: 64px;
}

.recently-updated H3 {
    color: var(--primary-navy);
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;

}

.recently-updated-title{
    margin-top: 48px;
    margin-bottom: 24px;
    position: relative;
}

@media only screen and (max-width: 559px) {
    .recently-updated{
        margin-top: 32px;
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 768px) {
    .recently-updated {
        padding-bottom: 64px;
    }
}


.dataset-content {
    margin-right: 24px;
    margin-bottom: 20px;
}

.dataset-item {
    list-style:  none;
}

.homepage-package-list .dataset-item {
    list-style:  none;
    border: var(--primary-navy) solid 1px;
    border-radius: 8px;
    padding: 24px;
    height: 100%;
}

.dataset-content .dataset-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin:  10px 0px;
}

.homepage-package-list .dataset-content .dataset-heading {
    color: var(--primary-navy);
}

.dataset-content .author {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    margin-bottom: 0px;
}

.dataset-content .modified {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--primary-navy);
    padding-bottom: 12px;
}

.dataset-content div:last-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--primary-navy);
}


.dataset-content div {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.homepage-package-list .dataset-content div {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.recently-updated .view-all-btn {
    display: inline-block;
    padding: 6px 16px;
    height: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--primary-navy);
    background: var(--who-blue-ten-percent);
    border-radius: 4px;
    position: absolute;
    top: 0px;
    right: 0px;
}

@media only screen and (max-width: 415px) {
    .recently-updated .view-all-btn {
        margin-top: 10px;
        position: static;
    }
}

.recently-updated .view-all-btn:hover {
    text-decoration: none;
}

.recently-updated-datasets {
    display: none;
}

@media only screen and (max-width: 415px) {
    .no-row {
        display: none;
    }
    .recently-updated-datasets {
        display: flex;
        --bs-gutter-x: 0;
    }
    .recently-updated-datasets a {
        margin-top: 6px;
        width: 90px;
    }
}

@media only screen and (max-width: 767px) {
    .homepage-package-list > .dataset-item {
        border: none;
        border-radius: 0;
        /*padding: 24px;*/
    }
    .homepage-package-list > .dataset-item:last-of-type {
        border-bottom: var(--who-blue-25-percent) solid 1px;
    }
}

