{% ckan_extends %}


{% block maintag %}<div class="main group-read">{% endblock %}


{% block secondary_content %}
  <div class="filters">
    <div>
      {% for facet in facet_titles %}
          {% if facet != 'groups' %}
            {% set scheming_choices=h.scheming_field_by_name(h.scheming_get_dataset_schema(dataset_type).dataset_fields, facet).choices %}
            {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets, scheming_choices=scheming_choices) }}
          {% endif %}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}

{% block packages_list %}
    <div class="group-read-packages">
    {{ super() }}
    </div>
{% endblock %}
